<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CacheCow.Client" version="0.6.0" targetFramework="net45" />
  <package id="CacheCow.Client.FileCacheStore" version="0.5.1" targetFramework="net45" />
  <package id="CacheCow.Common" version="0.6.0" targetFramework="net45" />
  <package id="FubarCoder.RestSharp.Portable" version="2.2.0-pre3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Testing" version="3.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Simple.Data.Ado" version="0.19.0.0" targetFramework="net45" />
  <package id="Simple.Data.Core" version="0.19.0.0" targetFramework="net45" />
  <package id="Simple.Data.Sqlite" version="0.18.3.2" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.94.0" targetFramework="net45" />
</packages>