<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="3.1.2.1" targetFramework="portable-net45+win+wpa81+wp80" />
  <package id="FubarCoder.RestSharp.Portable" version="3.1.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="FubarCoder.RestSharp.Portable.Core" version="3.1.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="FubarCoder.RestSharp.Portable.HttpClient" version="3.1.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable-net45+win+wpa81+wp80" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="portable-net45+win+wpa81+wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable-net45+win+wpa81+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="portable-net45+win+wpa81+wp80" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>